# Build artifacts
build/
*.gba
*.elf
*.map

tools/agbcc/

*.dump

scripts/ida/
scripts/data/
# scripts/

asm/nonmatchings/
asm/matchings/

# Generated context (make ctx)
ctx.c
ctx.c.m2c

# Python
.venv/
__pycache__/

# OS
.DS_Store

# clangd
.cache
compile_commands.json

# ida
*.i64
*.id0
*.id1
*.id2
*.til
*.nam


code.s